<h4><%= t('view.top') %></h4>

<h1>Hello Doctor<h1>
  <h3>Hello Doctor is a friendly app able to help doctors and patients</h3>
  <h3>This application is designed as a first medical aids</h3>

<ul>
  <h3>Problem</h3>
  <h3>
    <li>Time consuming going to the hospital</li>
    <li>rushing hours</li>
  </h3>

  <h3>Solution</h3>
  <h3>
    <li>Simplify basic procedures (reception / questionnaire / accounting / prescription, etc.) by going online</li>
    <li>easy to use and required less time</li>
  </h3>
</ul>
<button type="button" class="btn btn-primary btn-sm"><%= link_to 'Login as a patient', tops_guest_sign_in_path, method: :post %></button>
<button type="button" class="btn btn-secondary btn-sm"><%= link_to 'Login as a doctor/admin', tops_guest_admin_sign_in_path, method: :post %></button>
