
<div class="d-flex flex-column justify-content-center align-items-center">
  <h2 class="name"><%= @patient.name %></h2>
</div>


<div class="btn btn-primary patient_show_edit_profile_button">
  <%= link_to 'Edit your account', edit_patient_registration_path(@patient), class: "text-white" %>
</div>
<div class="btn btn-primary patient_show_edit_profile_button">
  <%= link_to 'Write a post', new_post_path(@post), class: "text-white" %>
</div>
<div class="btn btn-primary patient_show_edit_profile_button">
  <%= link_to 'Appointment', appointments_path(@appointment), class: "text-white" %>
</div>
