<div class="healthinterviewlist">
  <%#= "No.#{i + 1}" %>

  <% if staff_signed_in? %>
    <div class="p-2 bd-highlight">
      <li><strong><%= link_to hi.id, hi %></strong></li>
      <li>
        <%= f.select(
            :status,
            GuideStatus.statuses_i18n.invert,
            { selected: hi.guide_status.status },
            {
              class: 'js-status form-control',
              data: {
                id: hi.guide_status.id,
                health_interview_id: hi.id
              },
            }
          )
        %>
      </li>
    </div>
  <% else %>
    <div class="p-2 bd-highlight">
      <strong><%= hi.id %></strong>
    </div>
  <% end %>
</div>

